<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yizhi.student.dao.StudentInfoDao">

    <sql id="StudentInfoColumns">
        a.id,
        a.student_id,
        a.exam_id,
        a.class_id,
        a.student_name,
        a.certify,
        a.mail_address,
        a.foreign_lanaguage,
        a.student_sex,
        a.nation,
        a.political,
        a.card_id,
        a.telephone,
        a.subject_type,
        a.tocollege,
        a.tocampus,
        a.tomajor,
        a.birthplace,
        a.grade,
        a.isstate,
        a.birthday,
        a.note,
        a.add_time,
        a.add_userid,
        a.edit_time,
        a.edit_userid,
        sc.college_name,
        sm.class_name,
        sd.major_name
    </sql>


    <sql id="StudentInfoJoins">
        left join sys_college sc on sc.id=a.tocollege
        left join sys_class sm on sm.id=a.class_id
        left join sys_major sd on sd.id=a.tomajor
    </sql>

    <select id="get" resultType="com.yizhi.student.domain.StudentInfoDO">
        select
        <include refid="StudentInfoColumns"/>
        from s_student_info a
        <include refid="StudentInfoJoins"/>
        where a.id = #{value}
    </select>

    <select id="list" resultType="com.yizhi.student.domain.StudentInfoDO">
        select
        <include refid="StudentInfoColumns"/>
        from s_student_info a
        <include refid="StudentInfoJoins"/>
        <where>
            <if test="id != null and id != ''"> and a.id = #{id} </if>
            <if test="studentId != null and studentId != ''"> and a.student_id = #{studentId} </if>
            <if test="examId != null and examId != ''"> and a.exam_id = #{examId} </if>
            <if test="classId != null and classId != ''"> and a.class_id = #{classId} </if>
            <if test="studentName != null and studentName != ''"> and a.student_name LIKE CONCAT('%',#{studentName},'%') </if>
            <if test="certify != null and certify != ''"> and a.certify = #{certify} </if>
            <if test="mailAddress != null and mailAddress != ''"> and a.mail_address LIKE CONCAT('%',#{mailAddress},'%') </if>
            <if test="foreignLanaguage != null and foreignLanaguage != ''"> and a.foreign_lanaguage = #{foreignLanaguage} </if>
            <if test="studentSex != null and studentSex != ''"> and a.student_sex = #{studentSex} </if>
            <if test="nation != null and nation != ''"> and a.nation = #{nation} </if>
            <if test="political != null and political != ''"> and a.political = #{political} </if>
            <if test="cardId != null and cardId != ''"> and a.card_id = #{cardId} </if>
            <if test="telephone != null and telephone != ''"> and a.telephone = #{telephone} </if>
            <if test="subjectType != null and subjectType != ''"> and a.subject_type = #{subjectType} </if>
            <if test="tocollege != null and tocollege != ''"> and a.tocollege = #{tocollege} </if>
            <if test="tocampus != null and tocampus != ''"> and a.tocampus = #{tocampus} </if>
            <if test="tomajor != null and tomajor != ''"> and a.tomajor = #{tomajor} </if>
            <if test="birthplace != null and birthplace != ''"> and a.birthplace = #{birthplace} </if>
            <if test="grade != null and grade != ''"> and a.grade = #{grade} </if>
            <if test="isstate != null and isstate != ''"> and a.isstate = #{isstate} </if>
            <if test="birthday != null"> and a.birthday = #{birthday} </if>
            <if test="note != null and note != ''"> and a.note = #{note} </if>
            <if test="addTime != null"> and a.add_time = #{addTime} </if>
            <if test="addUserid != null and addUserid != ''"> and a.add_userid = #{addUserid} </if>
            <if test="editTime != null"> and a.edit_time = #{editTime} </if>
            <if test="editUserid != null and editUserid != ''"> and a.edit_userid = #{editUserid} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from s_student_info a
        <include refid="StudentInfoJoins"/>
        <where>
            <if test="id != null and id != ''"> and a.id = #{id} </if>
            <if test="studentId != null and studentId != ''"> and a.student_id = #{studentId} </if>
            <if test="examId != null and examId != ''"> and a.exam_id = #{examId} </if>
            <if test="classId != null and classId != ''"> and a.class_id = #{classId} </if>
            <if test="studentName != null and studentName != ''"> and a.student_name LIKE CONCAT('%',#{studentName},'%') </if>
            <if test="certify != null and certify != ''"> and a.certify = #{certify} </if>
            <if test="mailAddress != null and mailAddress != ''"> and a.mail_address LIKE CONCAT('%',#{mailAddress},'%') </if>
            <if test="foreignLanaguage != null and foreignLanaguage != ''"> and a.foreign_lanaguage = #{foreignLanaguage} </if>
            <if test="studentSex != null and studentSex != ''"> and a.student_sex = #{studentSex} </if>
            <if test="nation != null and nation != ''"> and a.nation = #{nation} </if>
            <if test="political != null and political != ''"> and a.political = #{political} </if>
            <if test="cardId != null and cardId != ''"> and a.card_id = #{cardId} </if>
            <if test="telephone != null and telephone != ''"> and a.telephone = #{telephone} </if>
            <if test="subjectType != null and subjectType != ''"> and a.subject_type = #{subjectType} </if>
            <if test="tocollege != null and tocollege != ''"> and a.tocollege = #{tocollege} </if>
            <if test="tocampus != null and tocampus != ''"> and a.tocampus = #{tocampus} </if>
            <if test="tomajor != null and tomajor != ''"> and a.tomajor = #{tomajor} </if>
            <if test="birthplace != null and birthplace != ''"> and a.birthplace = #{birthplace} </if>
            <if test="grade != null and grade != ''"> and a.grade = #{grade} </if>
            <if test="isstate != null and isstate != ''"> and a.isstate = #{isstate} </if>
            <if test="birthday != null "> and a.birthday = #{birthday} </if>
            <if test="note != null and note != ''"> and a.note = #{note} </if>
            <if test="addTime != null"> and a.add_time = #{addTime} </if>
            <if test="addUserid != null and addUserid != ''"> and a.add_userid = #{addUserid} </if>
            <if test="editTime != null"> and a.edit_time = #{editTime} </if>
            <if test="editUserid != null and editUserid != ''"> and a.edit_userid = #{editUserid} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.yizhi.student.domain.StudentInfoDO" useGeneratedKeys="true" keyProperty="id">
        insert into s_student_info
        (
            `id`,
            `student_id`,
            `exam_id`,
            `class_id`,
            `student_name`,
            `certify`,
            `mail_address`,
            `foreign_lanaguage`,
            `student_sex`,
            `nation`,
            `political`,
            `card_id`,
            `telephone`,
            `subject_type`,
            `tocollege`,
            `tocampus`,
            `tomajor`,
            `birthplace`,
            `grade`,
            `isstate`,
            `birthday`,
            `note`,
            `add_time`,
            `add_userid`,
            `edit_time`,
            `edit_userid`
        )
        VALUES
        (
            #{id},
            #{studentId},
            #{examId},
            #{classId},
            #{studentName},
            #{certify},
            #{mailAddress},
            #{foreignLanaguage},
            #{studentSex},
            #{nation},
            #{political},
            #{cardId},
            #{telephone},
            #{subjectType},
            #{tocollege},
            #{tocampus},
            #{tomajor},
            #{birthplace},
            #{grade},
            #{isstate},
            #{birthday},
            #{note},
            #{addTime},
            #{addUserid},
            #{editTime},
            #{editUserid}
        );

    </insert>

    <update id="update" parameterType="com.yizhi.student.domain.StudentInfoDO">
        update s_student_info
        <set>
            <if test="id != null and id != ''">`id` = #{id}, </if>
            <if test="studentId != null and studentId != ''">`student_id` = #{studentId}, </if>
            <if test="examId != null and examId != ''">`exam_id` = #{examId}, </if>
            <if test="classId != null and classId != ''">`class_id` = #{classId}, </if>
            <if test="studentName != null and studentName != ''">`student_name` = #{studentName}, </if>
            <if test="certify != null and certify != ''">`certify` = #{certify}, </if>
            <if test="mailAddress != null and mailAddress != ''">`mail_address` = #{mailAddress}, </if>
            <if test="foreignLanaguage != null and foreignLanaguage != ''">`foreign_lanaguage` = #{foreignLanaguage}, </if>
            <if test="studentSex != null and studentSex != ''">`student_sex` = #{studentSex}, </if>
            <if test="nation != null and nation != ''">`nation` = #{nation}, </if>
            <if test="political != null and political != ''">`political` = #{political}, </if>
            <if test="cardId != null and cardId != ''">`card_id` = #{cardId}, </if>
            <if test="telephone != null and telephone != ''">`telephone` = #{telephone}, </if>
            <if test="subjectType != null and subjectType != ''">`subject_type` = #{subjectType}, </if>
            <if test="tocollege != null and tocollege != ''">`tocollege` = #{tocollege}, </if>
            <if test="tocampus != null and tocampus != ''">`tocampus` = #{tocampus}, </if>
            <if test="tomajor != null and tomajor != ''">`tomajor` = #{tomajor}, </if>
            <if test="birthplace != null and birthplace != ''">`birthplace` = #{birthplace}, </if>
            <if test="grade != null and grade != ''">`grade` = #{grade}, </if>
            <if test="isstate != null and isstate != ''">`isstate` = #{isstate}, </if>
            <if test="birthday != null">`birthday` = #{birthday}, </if>
            <if test="note != null and note != ''">`note` = #{note}, </if>
            <if test="addTime != null">`add_time` = #{addTime}, </if>
            <if test="addUserid != null and addUserid != ''">`add_userid` = #{addUserid}, </if>
            <if test="editTime != null">`edit_time` = #{editTime}, </if>
            <if test="editUserid != null and editUserid != ''">`edit_userid` = #{editUserid} </if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from s_student_info where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from s_student_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>